@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
.border-bottom-1 {
  border-bottom: 2px solid #e5e5e5;
  width: 233px;
  left: 2px;
 position: absolute;
 bottom: -2px;
}
.border-bottom-2 {
  border-bottom: 4px solid #e5e5e5;
  max-width: 856px;
  left: 0;
 position: absolute;
 bottom: -6px;
}
